.menu{
    background: #364a63;
    width: 350px;
    position: absolute;
    right: 60px;
    top: 0;
    padding: 20px;
    z-index: 10;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
}

.options p{
    text-align: center;
}

.priceLine {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.priceLine h2{
    font-size: 16px;
}

.priceLine h2:nth-of-type(2){
    color: #beeb14;
    padding-bottom: 20px;
}